[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.24.0"
click = "*"
rich = "*"


[dev-packages]
black = "*"
twine = "*"
coverage = "*"
wheel = "*"
pytest = "*"
requests-mock = { extras = ['fixture'] }

[requires]
python_version = "3.8"
